body {
    background-color: black;
    color: white;
    font-family: sans-serif; /* O la fuente que prefieras */
    }
  
  h1 {
    font-size: 4em;
    font-family: sans-serif;
    color: #f0f0f0; /* Gris claro */
    text-shadow: 3px 3px 0 #888;
    text-align: center;
      }

  h2 {
    font-size: 2em;
    text-align: left;
    text-shadow: 2px 2px 0 #888;
     }
  
  a {
    color: hsl(61, 100%, 50%); 
    text-decoration: none;
    font-size: 1.5em;
    }
  span{
    color: crimson;
    text-decoration: line-through;
    font-size: 1.25em;
    }